# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.tlog
*.ilk
*.ilk
*.pdb
bin/Debug/ColonyAI.ilk
bin/Debug/ColonyAI.pdb
*.idb
Projects/ColonyAI/temp/Debug/vc140.pdb
